<div mat-dialog-content>

  <h1>Set user roles</h1>

  <form class="form-fields" [formGroup]="form" (ngSubmit)="handleSetRoleSubmit(form.value)">

    <p>Username: <b>{{user.username}}</b></p>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of getRoles()" [value]="role">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit"
            mat-button
            color="primary"
            [disabled]="!form.valid"
    >
      Update
    </button>
  </form>
</div>
